{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Proyecto Portafolio - Silabuz" name="description">

        <title>Portafolio | Inicio</title>
        <link href="{% static 'img/favicon.png' %}" rel="icon">
        <link href="{% static 'img/favicon-apple.png' %}" rel="apple-touch-icon">

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">
        <link href="{% static 'css/aos.css' %}" rel="stylesheet">
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
    </head>
    <body class="page-index">
        <header id="header" class="header d-flex align-items-center fixed-top">
            <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
                <a href="{% url 'index' %}" class="logo d-flex align-items-center">
                    <h1 class="d-flex align-items-center">Portafolio SILABUZ</h1>
                </a>
        
                <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
                <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
        
                <nav id="navbar" class="navbar">
                    <ul>
                        <li><a href="{% url 'index' %}" class="active">Inicio</a></li>
                        <li><a href="#portafolio">Ver portafolio</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        {% block content %} {% endblock content %}

        <footer id="footer" class="footer">
            <div class="footer-content">
                <div class="container">
                    <div class="row gy-4">
                        <div class="col-lg-6 col-md-12 footer-info">
                            <a href="#" class="logo d-flex align-items-center">
                                <span>Portafolio SILABUZ</span>
                            </a>
                        </div>
                        <div class="col-lg-4 col-6 footer-links">
                            <h4>Redes sociales</h4>
                            <div class="social-links d-flex  mt-3">
                                <a href="https://www.linkedin.com/in/carlos-yrigoin" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/carlosyrigoin" target="_blank" class="github"><i class="bi bi-github"></i></a>
                                <a href="https://www.facebook.com/carlosyrigoind/" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a>
                                <a href="https://www.instagram.com/carlosyrigoind/" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-6 footer-links">
                            <h4>Administración</h4>
                            <ul>
                                <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-legal">
                <div class="container">
                    <div class="copyright">
                        Derechos reservados © Copyright <strong><span>Carlos Wílder Yrigoín Domínguez</span></strong>.
                    </div>
                    <div class="credits">Desarrollador Backend en SILABUZ</div>
                </div>
            </div>
        </footer>

        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/aos.js' %}"></script>
        <script src="{% static 'js/glightbox.min.js' %}"></script>
        <script src="{% static 'js/swiper.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
